apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-conf
  namespace: {{ .Values.namespace }}
data:
  service_access.conf: |
    [user-management]
    privateHost = {{ index .Values "depServices" "user-management" "privateHost" }}
    privatePort = {{ index .Values "depServices" "user-management" "privatePort" }}

    [doc-share]
    privateHost = {{ index .Values "depServices" "doc-share" "privateHost" }}
    privatePort = {{ index .Values "depServices" "doc-share" "privatePort" }}

    [proton-policy-engine]
    host = {{ index .Values "depServices" "proton-policy-engine" "host" }}
    port = {{ index .Values "depServices" "proton-policy-engine" "port" }}

    [policy-management]
    host = {{ index .Values "depServices" "policy-management" "host" }}
    port = {{ index .Values "depServices" "policy-management" "port" }}

    [hydra]
    publicHost = {{ .Values.depServices.hydra.publicHost }}
    publicPort = {{ .Values.depServices.hydra.publicPort }}
    administrativeHost = {{ .Values.depServices.hydra.administrativeHost }}
    administrativePort = {{ .Values.depServices.hydra.administrativePort }}

    [deploy-service]
    HttpHost = {{ index .Values "depServices" "deploy-service" "HttpHost" }}
    HttpPort = {{ index .Values "depServices" "deploy-service" "HttpPort" }}

    [sharemgnt]
    host = {{ .Values.depServices.sharemgnt.host }}
    port = {{ .Values.depServices.sharemgnt.port }}

    [eacp]
    thriftHost = {{ .Values.depServices.eacp.thriftHost }}
    thriftPort = {{ .Values.depServices.eacp.thriftPort }}

    [authentication]
    privateHost = {{ .Values.depServices.authentication.privateHost }}
    privatePort = {{ .Values.depServices.authentication.privatePort }}

  app_default.conf: |
    [Global]
    use_rds = {{ .Values.service.useRds }}
    use_iaas = {{ .Values.service.useIaas }}
    business_time_offset = {{ .Values.service.businessTimeOffset }}

    [ShareServer]
    # 分配给日志的总空间大小，单位为byte
    log_assigned_size = {{ .Values.service.logAssignedSize }}

    # 日志记录条数超过阀值时进行转存，默认login:100W,management:100W,opetation:800W
    log_dump_threshold_login = {{ .Values.service.logDumpThresholdlogin }}
    log_dump_threshold_management = {{ .Values.service.logDumpThresholdManagement }}
    log_dump_threshold_operation = {{ .Values.service.logDumpThresholdOperation }}

    # 日志转存时间，24小时制，时:分:秒
    log_dump_time = {{ .Values.service.logDumpTime }}

    # 执行彻底删除文档库时间，24小时制，时:分:秒
    delete_doc_time = {{ .Values.service.DeleteDocTime }}

    # 记录活跃用户的时间间隔，单位毫秒
    active_record_interval = {{ .Values.service.ActiveRecordInterval }}

    # 清理权限信息的时间间隔
    clean_interval = {{ .Values.service.CleanInterval }}

    # EACP HTTP监听端口
    public_port = {{ .Values.service.port }}

    # EACP private监听端口
    private_port = {{add 1 .Values.service.port }}

    # EACP Thrift监听端口
    eacp_port = {{add 2 .Values.service.port }}

    # EACP brpc监听端口
    brpcserver_port = {{add 3 .Values.service.port }}

    # EACP brpc监听端口
    brpcinner_port = {{add 4 .Values.service.port }}

    # 单副本chart
    is_single = false

    # brpc 内置服务开关
    has_builtin_services = {{ .Values.service.hasBuiltinServices }}

    # brpc 线程数
    worker_num = {{ .Values.service.workerNumber }}

    # Thrift Service 线程数
    eacp_thrift_worker_num = {{ .Values.service.eacpThriftWorkerNumber }}

    # system_id
    system_id = {{ .Values.depServices.rds.system_id }}
  language.conf: |
    LANG={{ .Values.service.language }}

  dm_svc.conf: |
    TIME_ZON=(480)
    LANGUAGE=(cn)
    DM={{ printf "(%s)" .Values.depServices.rds.host }}
    [DM]
    LOGIN_MODE=(1)

  mq_config.yaml: |
    {{- toYaml .Values.depServices.mq | nindent 4 }}
