apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-secret
  namespace: {{ .Values.namespace }}
stringData:
  cluster.conf: |

    [cluster]
{{- if contains "," .Values.depServices.rds.host }}
    db_host = DM
{{- else}}
    db_host = {{ .Values.depServices.rds.host }}
{{- end}}
    db_port = {{ .Values.depServices.rds.port }}
    db_user = {{ .Values.depServices.rds.user }}
    db_password = {{ .Values.depServices.rds.password }}
    use_external_db = False
    enable_db_read = {{ .Values.depServices.rds.enableDBRead }}
    db_read_host = {{ .Values.depServices.rds.readHost }}
    db_read_port = {{ .Values.depServices.rds.readPort }}
    db_type = {{ .Values.depServices.rds.type }}
