.wrp {
    position: relative;
    height: 100%;

    .tree {
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        top: 36px;

        .left-tree {
            position: relative;
            left: -20px;
        }

        & .list-tip {
            position: relative;
            width: 100%;
            height: 100%;
        }

    }

    .disabled-tree {
        color: #c0c0c0;
    }
}

.node-title {
    display: inline-flex;
    height: 24px;
    align-items: center;
}

.node-name {
    cursor: pointer;
}

.node-icon {
    padding: 0 5px;
}