apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-secret
  namespace: {{ .Values.namespace }}
stringData:
  secret.yaml: |

    #数据库
    user_name: {{ .Values.depServices.rds.user | quote }}
    user_pwd: {{ .Values.depServices.rds.password | quote }}
    db_name: {{ .Values.depServices.rds.database | quote }}
    db_charset: {{ .Values.depServices.rds.dbCharset | quote }}
