.pager {
    position: relative;
    top: -1px;
    border-top: 1px solid #f4f4f4;

    & .page-box {
        width: 40px;
        height: 20px;
        border: 1px solid #bdbdbd;
        box-sizing: border-box;
        border-radius: 2px;
        padding-left: 5px;
    }

    & .pages {
        height: 24px;
        line-height: 24px;

        & .page-info {
            display: inline-block;
            margin: 0 10px;
            /* vertical-align: middle; */
        }
    }

    & .count {
        position: absolute;
        top: 0;
        right: 8px;
        height: 24px;
        line-height: 24px;
    }

    & .icon {
        vertical-align: top;
    }
}