.comboarea {
    position: relative;
    min-height: 35px;
    overflow: auto;

    &.disabled {
        cursor: default;

        &:hover {
            cursor: default;
        }
    }

    & .chip-wrap {
        display: inline-block;
        margin: 1px;
        vertical-align: middle;
        white-space: nowrap;
        margin-left: 5px;
        -webkit-user-select:text;

        & .flextextbox{
            vertical-align: middle;
        }
    }

    &:hover{
        cursor: text;
    }

    & .box-sizing-border-box {
        box-sizing: border-box;
    }
}