.header {
    position: relative;
    box-sizing: border-box;
    height: 40px;
    line-height: 40px;
    padding-left: 16px;
    text-align: left;
    color: rgba(91, 93, 102);
    font-weight: 600;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;

    & .icons {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0 0 0 8px;
        height: 40px;
        line-height: 40px;

        & .icon {
            color: #7F8391;
            vertical-align: top;
            border: none;
            border-radius: 0;
            border-top-right-radius: 8px;

            &:hover {
                color: #fff;
                background: #FF676D;
                opacity: 0.7;
            }

            &:active {
                color: #fff;
                background: #FF676D;
                opacity: 1;
            }
        }
    }

    &.high-header {
        height: 40px;
        line-height: 40px;
        padding-left: 0;
        text-align: center;
        background-color: #fff;
        font-size: 15px;
        font-weight: 600;
        color: #505050;

        & .icons {
            height: 32px;
            line-height: 32px;
        }
    }
}