.container {
    position: absolute;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    & .open-checkbox {
        margin: 0 8px 10px 0;
    }

    & .checkbox-text {
        color: #505050;
    }

    & .explain-text {
        color: #999;
    }

    .header {
        position: relative;
        flex: 1;
    }

    .list-container {
        position: relative;
        width: 100%;
        height: 100%;
        flex-shrink: 1;
    }

    & .net-list {
        display: inline-block;
        height: calc(100% - 46px);
        width: 57%;
    }

    & .visitor-list {
        display: inline-block;
        height: calc(100% - 46px);
        width: 43%;
    }

    & .limit-options {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 46px;
        margin: 0 0 15px 22px;
    }

    & .config-buttons {
        margin: 0 0 15px 22px;
        
        & .button {
            margin-right: 8px;
        }
    }
}