@import '../../../../core/styles/root.css';
.form-label {
    position: relative;
    display: inline-block;
    min-width: 80px;
    top: -5px;
}

.wrapper {
    position: relative;

    & .required {
        position: absolute;
        top: 8px;
        left: -10px;
        color: var(--color-error);
    }

    & .department {
        margin-bottom: 10px;
    }

    & .quota {
        display: inline-block;
        margin-left: 8px;
        color: var(--font-color-regular);
    }

    & .radio {
        margin-top: 10px;
    }

    & .name {
        width: 320px;
    }
}

.block {
    display: block;
    margin-top: 5px;
}

.err {
    margin-bottom: 10px;
    color: var(--color-error);
}

.btns {
    & .cancel {
        margin-left: 5px;
    }
}

.one-line {
    display: flex;
    align-items: center;

    & .chose {
        width: 72px;
        margin-left: 8px;
    }
}