@import '../../../../core/styles/root.css';

.time-panel-content {
    display: flex;
    height: 198px;
}

.column {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 100%;
    flex-grow: 1;
    border-right: 1px solid #e4e6ed;
    box-sizing: border-box;
    text-align: left;
    list-style: none;
    overflow: hidden;

    &:hover {
        overflow-y: auto;
    }

    & .cell {
        padding: 0;
        margin: 0;
        cursor: pointer;

        &:hover {
            background-color: rgba(220, 234, 249, 0.65);
        }

        &:active {
            background-color: rgba(220, 234, 249, 0.65);
        }

        &.cell-selected {
            background-color: rgba(240, 242, 247, 0.8);
        }

        &.cell-disabled {
            cursor: default;
            background-color: #fff;
        }

        & .cell-inner {
            height: 24px;
            margin: 0;
            padding: 0 0 0 16px;
            line-height: 24px;
            font-size: 12px;
            color: var(--font-color-regular);

            &.disabled {
                color: var(--font-color-disabled);
            }
        }
    }   
}