.content {
    padding-bottom: 8px;

    & .icon {
        float: left;
        padding-top: 2px;
    }

    & .article {
        margin-left: 48px;
        min-height: 40px;

        & .title {
            font-size: 15px;
            color: #E60012;
            line-height: 2;
        }

        & .message {
            padding-top: 8px;
            line-height: 1.5;
            color: #505050;
            word-wrap: break-word;
            white-space: pre-wrap;
        }

        & .small-padding {
            padding-top: 4px;
        }

        & .message-with-scroll {
            margin-top: 8px;
            width: 290px;
            height: 96px;
            border: 1px solid rgba(211, 212, 219, 0.8);
            color: #999;
            background-color: rgba(211, 212, 219, 0.2);
            box-sizing: border-box;
            border-radius: 4px;
            padding: 8px;
            overflow-y: auto;
            overflow-x: hidden;
            user-select: text;
        }
    }
}