/**
 * AnyShare 基本颜色／间距定义
 * 参考规范：
 * 1. AnyShare://AnyShare产品线/4-AnyShare 研发部/产品设计资料/6.0 UI 资源/UI色阶表.png
 * 2. AnyShare://AnyShare产品线/4-AnyShare 研发部/产品设计资料/6.0 UI 资源/Web客户端/文档列表/标注-列表.png
 *
 * 使用:
 * @import '../libs/root.css';
 *
 * .button {
 *     background-color: var(--background-light);
 * }
 */

 :root {
    --main-font-family: "-apple-system", "BlinkMacSystemFont", "Helvetica Neue", "PingFang SC", "Microsoft YaHei", "sans-serif";

    /**
     * 常用灰色色卡(兼容迁移)
     */
     --grey-01: #595959;
     --grey-02: #fafafa;
     --grey-03: #eee;
     --grey-04: #e0e0e0;
     --grey-05: #bdbdbd;
     --grey-06: #9e9e9e;
     --grey-07: #757575;
     --grey-08: #424242;


    /**
     * 常用颜色
     */
    --color-bg-Layout: #fafafa;
    --color-bg-mask: 囗rgba(0,0,0,.45);
    --color-bg-spotlight: rgba(0,0,0,.85);
    --color-border: rgba(0,0,0,.15);
    --color-border-secondary: rgba(0,0,0,.10);
    --color-fill: rgba(0,0,0,.15);
    --color-fill-secondary: rgba(0,0,0,.06);
    --color-fill-tertiary: rgba(0,0,0,.04);
    --color-fill--quaternary: rgba(0,0,0,.02);
     

    --color-error: #f5222d;
    --color-success: #52c41a;
    --color-warning: #faad14;
    --color-blue: #3A8FF0;

    /**
     * 基本间距
     */
    --layout-spacing-small: 10px;
    --layout-spacing-medium: 20px;
    --layout-spacing-large: 30px;


    /**
     * 字体颜色
     */
    /* 列表字体 */
    --font-color-list: rgba(0,0,0,.60);

    /* 一般黑色 */
    --font-color-regular: rgba(0,0,0,.85);

    /* 重点黑色 */
    --font-color-strong: #000000;

    /* 一般提示文字颜色 */
    --font-color-description: rgba(0,0,0,.45);

    /* 次要灰色 */
    --font-color-secondary: rgba(0,0,0,.60);

    /* 灰化 */
    --font-color-disabled: rgba(0,0,0,.25);

    /* 深色背景中的白色字体 */
    --font-color-light: #fff;

    /* 超链接 */
    --font-color-link: #40a9ff;

    /* 超链接（悬浮） */
    --font-color-link__hover: #69c0ff;

    /* 超链接（按下） */
    --font-color-link__active: #1890ff;

    /* 警告 */
    --font-color-critical: #d70000;

    /* 重点黑色悬停颜色 */
    --font-color-string-hover: #3c8eff;

    /* 重点黑色点击颜色 */
    --font-color-string-active: #006bff;

    /* 错误 */
    --font-color-error: #f5222d;

    /**
     * 按钮颜色
     */

    /* 深灰背景色 */
    --background-dark: #646b73;

    /* 深灰背景色(悬浮) */
    --background-dark__hover: #7d8791;

    /* 深灰背景色(激活) */
    --background-dark__active: #4b5258;

    /* 深灰背景色(灰化) */
    --background-dark__disabled: #d3d8db;

    /* 白色背景色 */
    --background-light: #ffffff;

    /* 白色背景色(悬浮) */
    --background-light__hover: #fafafa;

    /* 白色背景色(激活) */
    --background-light__active: #eeeeee;

    /* 白色背景色(灰化) */
    --background-light__disabled: #e0e0e0;


    /**
     * 描边
     */

    /* 正常 */
    --border-color: rgba(0,0,0,.15);

    /* 悬停 */
    --border-color__hover: #b4bec8;

    /* 激活 */
    --border-color__active: #b4bec8;

    /* 灰化 */
    --border-color__disabled: #e0e0e0;

    /* 错误 */
    --border-color__error: #F5222D;

    /**
     * 字体大小
     */

    /* 主标题（用于弹框标题等） */
    --font-size-maintitle: 16px;

    /* 常规字体 */
    --font-size-regular: 14px;

    /* 次要字体大小  (次要字体、以及兼容AS迁移的正文、常规字体) */
    --font-size-secondary: 13px;

    /*小号字体*/
    --font-size-small: 12px;

    /* 表单控件高度(迁移组件) */
    --input-height: 30px;

    /* 表单控件高度 */
    --input-control-height: 32px;

    /* 表单控件较小高度 */
    --input-control-min-height: 24px;


    /* font-family */
    --font-family: "-apple-system",
    "BlinkMacSystemFont",
    "Helvetica Neue",
    "PingFang SC",
    "Microsoft YaHei",
    "sans-serif";

    /**
     * 基本交互控件样式
     */
    --control-border-color: rgba(0,0,0,.15);
    --control-border-color__hover: #779eea;
    --control-border-color__focus: #779eea;
    --control-border-color__disabled: rgba(0,0,0,.15);

    --control-border-radius: 6px;

    --control-block-shadow: 0px 0px 4px 0 #779eea;
    --control-shadow__hover: #779eea;
    --control-shadow__focus: 0 0 0 2px rgba(119, 158, 234, .35);
    --control-shadow__disabled: none;

    --control-background-color: #fff;
    --control-background-color__hover: #e4e6ed;
    --control-background-color__disabled: #fafafa;

    /**
     * dialog的高度 
     */
    --dialog-header-height: 35px;

    /* 进度条背景颜色 */
    --progress-background-color: #b3c9ce;

    /**
     * 圆角大小
     */
    /* 大圆角（Card、Modal（弹窗） 等一些组件样式） */
    --border-radius: 8px;

    /* 常规圆角 */
    --border-radius-regular: 6px;

    /* 小圆角 */
    --border-radius-small: 4px;
}