@import '../../core/styles/root.css';

.options {
    padding: 10px;
    color: var(--font-color-regular);

    & .option-label {
        margin-left: 5px;
    }
}

.dropbox {
    position: relative;
    display: inline-block;

    & .control {
        position: relative;
        height: var(--input-height);

        & .select {
            position: relative;
            display: block;
            height: 16px;
            line-height: 16px;
            text-decoration: none;
            color: var(--font-color-regular);
            outline: none;

            &.disabled {
                color: #c8c8c8;
                cursor: default;
            }

            & .text {
                display: block;
                margin-right: 16px;
            }

            & .drop-icon {
                position: absolute;
                top: 0;
                right: 0;
                color: var(--font-color-regular);
            }
        }
    }
}