apiVersion: v1
kind: Secret
metadata:
  name: {{ template "policy-management.server" . }}
  namespace: {{ .Values.namespace }}
  labels:
    app: {{ template "policy-management.server" . }}
type: Opaque
data:
  DB_PASSWORD: {{ .Values.depServices.rds.password | b64enc | quote }}

