@import '../../core/styles/root.css';

.node {
    & .icon {
        margin-right: .25em;
        vertical-align: middle;
    }

    & .name {
        vertical-align: middle;
    }
}

.load-more {
    display: inline-block;
    padding-left: 40px;
    height: 22px;
    line-height: 22px;
    cursor: pointer;
    color: var(--font-color-link);

    & .load-more-icon {
        margin-left: 6px;
    }
}

.tree-wrp {
    position: relative;
    width: 100%;
    height: calc(100% - 10px);
    box-sizing: border-box;

    & .list-tip {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}
