.tree {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

    & .tree-wrapper {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 56px;
        margin: 10px 5px 0 0;
        overflow: auto;

        & .drag-tree {
            display: inline-block;
            min-width: 100%;

            & .special-node {
                display: flex;
                padding: 0 0 4px;
                outline: none;

                & .switcher {
                    flex: none;
                    width: 24px;
                    height: 24px;
                    margin: 0;
                    line-height: 24px;
                    text-align: center;
                }

                & .node-wrapper {
                    flex: auto;
                    min-height: 25px;
                    margin: 0;
                    padding: 0 4px;
                    line-height: 25px;
                    background: transparent;
                    border-radius: 2px;
                    cursor: pointer;
                    word-break: keep-all;
                    white-space: nowrap;
                    transition: all 0.3s, border 0s, line-height 0s;

                    &:hover {
                        background-color: rgba(220, 234, 249, 0.65);
                    }
                }

                & .selected {
                    background-color: #F0F2F7;
                }
            }
        }
    }


    & .org-tree-remark {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        min-height: 36px;
        padding: 5px 0 5px 10px;
        font-size: 12px;
        line-height: 18px;
        color: #999;
    }
}

.title {
    white-space: pre;
}

.icon {
    margin-right: 4px;
}