@import '../../../core/styles/root.css';

.popmenu{
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0 2px 9px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 2px 9px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 9px 1px rgba(0, 0, 0, 0.1);

    user-select: none;
    border-radius:var(--control-border-radius);
    white-space: nowrap;
    color: var(--font-color-regular);
}