@import '../../core/styles/root.css';

.text-label {
    width: 102px;
    display: table-cell;
    padding: 0 8px 0 0;
    vertical-align: middle;
}

.unable-edit {
    width: 320px;
    padding-top: 3px;
}

.space-gb {
    margin: 0 4px 0 8px;
}

.required {
    float: right;
    padding-top: 3px;
    color: var(--color-error);
}

.used-size {
    margin-left: 110px;
    font-size: var(--font-size-secondary);
    color: var(--font-color-Description);
}

.expire-date {
    color: var(--font-color-regular) !important;
}

.tag-style {
    top: -2px;
}
