.group-grid {
    position: relative;
    height: 100%;
    width: 100%;

    & .header {
        position: absolute;
        width: 100%;
        z-index: 1;

        & .search-box {
            float: right;
            padding: 3px 10px 3px !important;
        }
    }

    & .grid-wrapper {
        position: relative;
        height: 100%;
        width: 100%;
        padding-top: 40px;
        box-sizing: border-box;

        & .edit-btn {
            display: inline-block;
            margin: 0 10px 0 0;
        }
    }
}