@import '../../../core/styles/root.css';

.select {
    position: relative;
    height:30px;
    padding: 0 24px 0 8px;
    border: 1px solid var(--control-border-color);
    border-radius: var(--control-border-radius);
    background-color: var(--control-background-color);
    box-sizing: border-box;

    &:hover {
        border-color: var(--control-border-color__hover);
        cursor: pointer;
    }

    &.focus {
        border-color: var(--control-border-color__focus);
        box-shadow: var(--control-shadow__focus);
    }

    &.disabled {
        border-color: var(--control-border-color__disabled);
        background-color:  var(--control-background-color__disabled);
        box-shadow: var(--control-shadow__disabled);

        &:hover {
            cursor: default;
        }
    }

    & .label {
        width: 100%;
        height: 30px;
        padding: 4px 0;
        cursor: pointer;
        color: var(--font-color-regular);

        &.disabled {
            color: var(--font-color-disabled);
            cursor: default;
        }
    }
}

.arrow-down {
    position: absolute;
    top: 7px;
    color: #757575;

    &:hover {
        cursor: pointer;
    }

    &.disabled-icon {
        color: #c8c8c8;

        &:hover {
            cursor: default;
        }

    }
}

.cascader {
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0 2px 9px 1px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 2px 9px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 2px 9px 1px rgba(0, 0, 0, 0.1);

    min-height:40px;
    white-space: nowrap;
    margin: 0;
    padding: 4px 0;
    border-radius:4px;
}

.menu {
    display: inline-block;
    height: 150px;
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-right: 1px solid #e9e9e9;
    vertical-align: top;
    overflow: auto;
    white-space: nowrap;

        & .menu-item {
            position: relative;
            height: 32px;
            line-height: 32px;
            padding: 0 10px;
            text-overflow: ellipsis;
            white-space: nowrap; 
            overflow: hidden;
            cursor: pointer; 

            &:hover {
                background: #f0f5ff;
            }

            &:active {
                background: #f0f5ff;
            }

            & .item-text {
                padding-left: 8px;
            }

            & .menu-item-expand-icon {
                position: absolute;
                right: 10px;
            }

        }

        & .menu-item-active {
            background: #f0f5ff;
        }

        & .menu-item-disabled {
            color: var(--font-color-disabled);
        }

}

.hidden-menu {
    text-align: center;
    line-height: 150px;
    cursor: pointer;

}