.create-role {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;

    .step {
        margin-bottom: 12px;
        max-width: 400px;
    }

    .content {
        width: 100%;
        max-width: 560px;
    }
}

:global {
    .isf-drawer-title {
        display: inline-flex;
    }
}

.custom-drawer-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
    max-width: 800px;
}

.drawer-footer {
    display: flex;
    justify-content: right;

    .btn {
        margin-right: 10px;
    }
}