.container {

    & .text {
        margin-left: 10px;
        vertical-align: middle;
        cursor: pointer;

        &.disabled {
            opacity: .5;
            filter: alpha(opacity=50);
            cursor: default;
        }
    }
}