.autocomplte-list {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    background: #ffffff;
    border: 1px solid rgba(0,0,0,0.05);
    box-shadow: 0 2px 9px 1px rgba(0,0,0,0.10);
    border-radius: 4px;
}