@import "@/core/styles/root.css";

.container {
    position: absolute;
    width: 100%;
    height: 100%;

    & .content {
        height: 100%;
        display: flex;

        & .biz-group-container {
            position: relative;
            display: flex;
            flex-direction: column;
            width: 220px;
            padding: 24px 8px 0 8px;
            background: var(--color-bg-Layout);

            & .biz-group-list {
                position: absolute;
                width: calc(100% - 16px);
                flex: 1;
                overflow-y: auto;

                & .biz-group-item {
                    & .biz-group-item-header {
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        height: 36px;
                        padding: 0 12px 4px 24px;
                        margin-bottom: 4px;
                        cursor: pointer;

                        &::before {
                            content: '';
                            position: absolute;
                            top: 9px;
                            left: 5px;
                            width: 8px;
                            height: 8px;
                            border-top: 1px solid #00000080;
                            border-left: 1px solid #00000080;
                            transform: rotate(225deg);
                        }

                        &.up-arrow::before {
                            top: 14px;
                            transform: rotate(45deg);
                        }

                        & .biz-group-item-header-name {
                            overflow: hidden;
                        }

                        & .biz-group-item-header-operate {
                            margin-left: auto;
                        }
                    }

                    & .biz-group-item-content {
                        & .content-list {

                            & .list-item {
                                display: flex;
                                justify-content: space-between;
                                height: 36px;
                                line-height: 36px;
                                border-radius: var(--border-radius-regular);
                                padding: 0 12px 0 36px;
                                margin-bottom: 4px;
                                cursor: pointer;

                                &:hover {
                                    & .operate-menu-container {
                                        opacity: 1;
                                    }
                                }

                                & .item-name {
                                    overflow: hidden;
                                }

                                & .operate-menu-container {
                                    opacity: 0;

                                    &.operate-menu-container-active {
                                        opacity: 1;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            & .policy-btn {
                position: absolute;
                bottom: 30px;
                text-align: center;
                width: calc(100% - 16px);
        
                .btn {
                    width: calc(100% - 32px);
                }
            }
        }

        & .data-report-container {
            flex: 1;
            height: 100%;
        }
    }
}

.empty {
    line-height: 20px;

    & .create-btn {
        margin-top: 10px;
    }
}

.operate-btn {
    border: none;

    &:hover {
        background-color: #e7e6eb;
        border: none;
        border-radius: 2px;
    }
}

.message {
    margin-bottom: 30px;

    & .text {
        font-weight: 600;
        margin-bottom: 10px;
    }
}