@import '../../core/styles/root.css';

.container {
    position: relative;
    line-height: var(--font-size-secondary);

    & .padding {
        padding: 7px var(--layout-spacing-medium);
        background: #fff;
        border-radius: 0 0 8px 8px;
        text-align: right;
        cursor: default;

        &[role="drag-area"] {
            cursor: move;
        }
    }
}