@import '../../core/styles/root.css';

.plainbutton {
    height: var(--input-height);
    line-height: var(--input-height);
    padding: 0 10px;
    background-color: var(--control-background-color);
    border: 1px solid transparent;
    box-shadow: none;
    cursor: pointer;

    & .icon {
        display: inline-block;
        margin-right: 5px;
    }

    &:hover {
        background-color: var(--grey-02);
        border: 1px solid #d3d4db;
        border-radius: 2px;
    }

    &:active {
        background-color: var(--grey-03);
    }

    &:focus {
        outline: none;
    }
    &:focus[disabled] {
        border: 1px solid transparent;
        background-color: var(--control-background-color);
    }
    &:hover[disabled] {
        border: 1px solid transparent;
        background-color: var(--control-background-color);
    }

    &:active[disabled] {
        border: 1px solid transparent;
        background-color: var(--control-background-color);
    }

}

.box-sizing-border-box {
    box-sizing: border-box;
}

.disabled {
    opacity: .5;
    filter: alpha(opacity=50);
    cursor: default;
}