@import "../../../core/styles/root.css";

.container {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  max-height: 184px;
  overflow-y: auto;
  
  .item {
    padding: 12px 16px;
    border-radius: var(--border-radius);
    box-sizing: border-box;
    margin: 4px;
    width: calc(50% - 8px);
    height: 84px;
    background-color: #F1F7FE;

    .product {
      font-weight: semibold;
      color: var(--font-color-strong);
      font-size: var(--font-size-maintitle);
      font-weight: bold;
      line-height: 24px;
      margin-bottom: 8px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      word-break: break-all;
    }

    .quota {
      font-size: var(--font-size-secondary);
      color: var(--font-color-regular);
      line-height: 22px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      word-break: break-all;

      .exceeded {
        color: var(--color-error);
        font-size: var(--font-size-regular);
      }
    }
  }

  .singleItem {
    width: calc(100% - 16px);
  }
}