@import '../../core/styles/root.css';

.search {

    & .search-container {
        position: relative;
        display: inline-block;
        box-sizing: border-box;
        height: var(--input-height);
        line-height: var(--input-height);
        padding: 0 var(--layout-spacing-small);
        border: 1px solid var(--control-border-color);
        border-radius: var(--control-border-radius);
        background-color: var(--control-background-color);

        &:hover {
            border-color: var(--control-border-color__hover);
            box-shadow: var(--control-shadow__hover);
        }

        & .search-icon {
            position: relative;
            top: -2px;
            left: 0px;
            display: inline-block;
            color: #c0c0c0;
        }

        & .search-content {
            position: relative;
            display: inline-block;
            padding: 0 0 0 5px;

            & .search-filters {
                position: relative;
                display: inline-block;
                white-space: nowrap;
                height: 25px;
                max-width: 200px;
                top: -3px;
                overflow: hidden;
                vertical-align: middle;
                table-layout: fixed;
                direction: rtl;


                & .search-filter-item {
                    display: inline-block;
                    height: 24px;
                    padding: 0 6px;
                    border: 0;
                    margin: 0 0;
                    border-radius: 3px;
                    line-height: 24px;
                    background-color: #e8f2f7;
                    direction: ltr;

                    & .search-delete {
                        vertical-align: top;
                    }
                }
            }

            & .search-filter-input {
                width: 3px;
                border: 0;
                padding-left: 0;
                letter-spacing: 0;
                outline: none;
            }

            & .search-filter-box {
                display: inline-block;
            }

            & .search-input {
                position: relative;
                width: 138px;
                border: 0;
                margin: 0;
                top: -2px;
                font-size: var(--font-size-secondary);
                padding-left: 5px;
                vertical-align: middle;
                letter-spacing: 0;
                outline: none;

                &:focus {
                    outline: 0;
                }
            }

            & .empty-icon {
                position: relative;
                top: -2px;
                color: var(--font-color-regular);
                opacity: 0.45;

                &:hover {
                    cursor: pointer;
                    color: var(--font-color-regular);
                    opacity: 1;
                }

                &:active {
                    color: var(--font-color-regular);
                    opacity: 1;
                }
            }

            & .blank-icon {
                display: inline-block;
                width: 16px;
                height: 12px;
            }
        }
    }

    & .search-foucs {
        border-color: var(--control-border-color__focus);
        box-shadow: var(--control-shadow__focus);
    }
}

.search-menu {
    position: relative;
    top: 2px;
    left: 0;
    width: 200px;
    box-sizing: border-box;
    z-index: 999;
    background-color: var(--control-background-color);

    & .search-item {
        position: relative;
        padding: 0 var(--layout-spacing-small);
        height: var(--layout-spacing-large);
        line-height: var(--layout-spacing-large);
    }
}