.text {
    display: block;
    text-align: left;
    user-select: none;

    & .selectable {
        user-select: text;
    }

    & .text-layout {
        white-space: pre;
    }
}

.ellisize-tail {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.safari{
    &::before{
        content: '';
        display: block;
    }
}