@import '../../../core/styles/root.css';

.wrapper {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 200px;
    height: 96px;
    min-height: 30px;
    padding: 4px 8px;
    border: 1px solid var(--control-border-color);
    border-radius: var(--control-border-radius);
    overflow-y: auto;
    overflow-x: hidden;

    &:focus {
        outline: none;
    }

    &.error {
        border-color: var(--border-color__error);

        &:hover,
        &:active {
            border-color: var(--border-color__error);
            box-shadow: var(--control-shadow__disabled);
        }
    }

    &.error-active {
        border-color: var(--border-color__error);
    }

    &.disabled {
        color: var(--font-color-disabled);
        background-color: #fafafa;
        cursor: default;

        &:hover,
        &:active {
            border-color: var(--control-border-color__disabled);
            box-shadow: var(--control-shadow__disabled)
        }
    }

    & .placeholder {
        width: 100%;
        height: 100%;

        & .tag {
            margin-right: 8px;
            margin-bottom: 4px;
        }

        & .input-wrapper {
            display: inline-block;
            box-sizing: border-box;
            min-width: 10px;
            height: 24px;
            line-height: 24px;
            border: none;
            color: #505050;
            font-size: 13px;
            vertical-align: top;

            &:focus {
                outline: none;
            }
        }

        & .input-wrapper[placeholder]:empty:before {
            content: attr(placeholder);
            color: #c0c0c0;
            font-size: 13px;
        }
    }

    & .placeholder[placeholder]:empty:before {
        content: attr(placeholder);
        color: #c0c0c0;
        font-size: 13px;
    }

    & .caution {
        position: absolute;
        top: 6px;
        right: 8px;
    }
}