.container {
    position: relative;
    height: 100%;
    padding:  24px 24px 0 24px;

    & .content {
        height: 100%;
        display: flex;
        flex-direction: column;

        & .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 12px;

            & .name {
                font-size: 14px;
            }
        }

        & .body {
            position: absolute;
            width: calc(100% - 48px);
            height: calc(100% - 90px);
            top: 68px;

            .empty {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }

            .text {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                word-break: break-all;
            }
        }
    }

    :global {
        .isf-table-wrapper .isf-table-thead >tr>th, .css-dev-only-do-not-override-hnodhd.isf-table-wrapper isf-table-thead >tr>td {
            background-color: var(--background-light);
        }

        .isf-table-wrapper .isf-table-column-title {
            font-size: var(--font-size-secondary);
        }

        .isf-table-thead >tr>th{
            color: var(--font-color-list) !important;
            font-weight: normal !important;
        }

        .isf-table {
            scrollbar-color: auto !important;
        }
    }
}

.export-icon {
    margin-right: 8px;
}

.empty {
    line-height: 20px;

    & .create-btn {
        margin-top: 10px;
    }
}

.tips-container {
    height: 80px;
    position: relative;

    & .no-prompt {
        display: flex;
        gap: 8px;
        position: absolute;
        bottom: -60px;
        left: -45px;
    }
}

.fields-title {
    margin-left: 16px;
}

.download-log {
    margin: auto 5px;

    &:hover {
        cursor: pointer;
    }
}