@import '../../../core/styles/root.css';

.dp-grid {
    position: absolute;
    width: 100%;
    height: 100%;

    .grid-header {
        position: absolute;
        box-sizing: border-box;
        height: 54px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .select {
            margin-right: 8px;
            height: 32px;
        }

        .search {
            padding: 3px 10px 3px !important;
        }

        .pop-button {
            width: 80px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;

            .menu-name {
                margin: 0 8px;
            }

            .menu-icon {
                margin-top: 3px;
            }
        }
    }

    .grid-main {
        position: absolute;
        top: 60px;
        width: 100%;
        height: calc(100% - 60px);
        overflow: hidden;

        .grid-content {
            position: relative;
            height: 100%;

            .search-page {
                margin-bottom: 25px !important;
            }

            .depart-name {
                display: flex;
                padding-right: 42px;
                overflow: hidden;
    
                .icon {
                    display: flex;
                    margin-right: 8px;
    
                    .expand-icon {
                        margin-right: 4px;
                        cursor: pointer;
                    }
                }
    
                .load-more {
                    color: #3461EC;
                    opacity: 0.75;
                    cursor: pointer;
                }
            }
    
            .operation {
                .edit {
                    margin-right: 8px;
                    cursor: pointer;
                }
    
                .delete {
                    cursor: pointer;
                }
            }
        }
    }
}

.action {
    min-width: 100px;
}