.organization-tree {
    width: 200px;
    border: 1px solid #ccc;
    margin: 10px 0;
    overflow: auto;
    text-align: left;
}

.search-box {
    margin: 10px 0;
}

.select-content {
    margin-top: 10px;
    margin-left: 20px;
}

.button-layout {
    position: relative;
    height: 30px;

    & .button-wrapper {
        float: right;
        margin-left: 5px;
    }
}

.dep-item {
    height: 30px;
    line-height: 30px;
}

.dep-name {
    padding-left: 10px;
}

.dep-del {
    padding-right: 10px;
    cursor: pointer;
}

.seleted-data {
    margin-right: 30px;
}

.selected-data-del {
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    text-align: center;
}
.select-range-size {
    position: relative;
    width:500px;
    height: 450px;

    & .org-manage{
        height: 350px;
    }

    & .contain {
        display: table;
        width: 100%;
        height: 100%;
        border-spacing: 0;

        & .item{
            vertical-align: top;
            width: 240px;
            display: table-cell;
            height:100%;

            & .item-box{
                position: relative;
                height: 100%;

                & .organization-tree {
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    top: 40px;
                    width: 220px;
                    border: 1px solid #ccc;
                    margin: 10px 0;
                    overflow: auto;
                    text-align: left;
                    padding: 0 10px;
                }

                & .organization-selected {
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    top: 40px;
                    width: 227px;
                    border: 1px solid #ccc;
                    margin: 10px 0;
                    overflow: auto;
                    text-align: left;
                }

                & .search-box {
                    margin: 10px 0;
                    line-height: 16px;
                }

                & .select-content {
                    margin-top: 10px;
                    margin-left: 20px;
                }

                & .button-layout {
                    position: relative;
                    height: 30px;

                    & .button-wrapper {
                        float: right;
                        margin-left: 5px;
                    }
                }

                & .dep-item {
                    height: 30px;
                    line-height: 30px;
                }

                & .dep-name {
                    padding-left: 10px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: pre;
                }

                & .dep-del {
                    padding-right: 10px;
                    cursor: pointer;
                }

                & .seleted-data {
                    margin-right: 30px;
                }

                & .selected-data-del {
                    position: absolute;
                    right: 0;
                    top: 0;
                    text-align: center;
                    width: 30px;
                }
            }
       }
    }
}

.export-organize-progress {
    width: 540px;
    height: 65px;
    line-height: 2px;
    padding-top: 15px;

    & .organize-progress {
        width: 450px;
        margin: 10px auto 0;

        & .organize-progress-status {
            margin-top: 12px;
            display: inline-block;
        }
    }
}

.message-info {
    vertical-align: top;
    line-height: 1.5;
    display: inline-block;
}

.message-info-name {
    vertical-align: top;
    line-height: 1.5;
    height: 25px;
    display: inline-block;
    max-width: 190px;
} 

.safari{
    
    &::before{
        content: '';
        display: block;
    }
}

   

