.select {
    display: inline-block;
    vertical-align: middle;
}

.select-box {
    border-radius: 0;
}

.explain {
    display: inline-block;
    margin-left: 10px;
}

.explain-content {
    padding: 4px 8px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    color: #505050;
    background-color: #fff;
}