@import '../../core/styles/root.css';

.container {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    padding: 8px 24px 24px 24px;

    .user-container {
        position: absolute;
        display: flex;
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        flex-direction: column;
        margin-top: 12px;
    
        & .head-bar {
            position: relative;
            margin-bottom: 12px;
            line-height: 30px;
    
            & .menu {
                float: left;
                padding: 0 25px;
                border-right: 1px dotted #ccc;
                cursor: pointer;
    
                & .menu-name {
                    display: inline-block;
                    margin: 0 5px;
                    vertical-align: middle;
                }
            }
    
            & .export-btn {
                display: inline-block;
                float: right;
            }

            & .authorized-overview {
                display: flex;
                justify-content: end;
                align-items: center;
            }
        }
    
        & .main-content {
            display: flex;
            flex: 1;
    
            & .org {
                position: relative;
                display: flex;
                width: 270px;
                height: 100%;
                border: 1px solid #CCC;
                flex-direction: column;
    
                & .org-tree {
                    flex: 1;
                    overflow: auto;
                }
    
                & .dep-manager-display {
                    height: 35px;
                    border-top: 1px solid #ccc;
                }
            }
    
            & .grid-container {
                height: 100%;
                padding-left: 10px;
                flex: 1;
                box-sizing: border-box;
            }
        }
    }

    :global {
        .isf-tabs {
            position: absolute;
            width: calc(100% - 48px);
            height: calc(100% - 32px);

            .isf-tabs-content {
                position: relative;
                width: 100%;
                height: 100%;
            }

            .isf-tabs-nav {
                margin: 0;
            }
        }
    }
}

.line {
    display: block;
    height: 1px;
    width: 100%;
    background-color: #eeeeee;
}

.action {
    min-width: 120px;
}

.del-title {
	color: var(--font-color-strong);
	font-weight: bold;
}