.dialog {
    min-width: 420px;
    border-radius: 8px;
    background-color: #fff;

    & .content {
        min-height: 72px;
        padding: 0 32px 16px 32px;

        &.content-padding-top {
            min-height: 96px;
            padding-top: 12px;
        }
    }

    & .footer {
        line-height: 30px;
        padding: 16px 32px 20px 32px;
        text-align: right;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;

        & .button {
            margin-left: 8px;
        }
    }
}