@import "../../../core/styles/root.css";
.role-mgnt {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;

    .left {
        position: relative;
        width: 240px;
        height: 100%;
        background: var(--color-bg-Layout);

        .header {
            margin: 12px 0;
            text-align: center;
            
            .search-role {
                width: calc(100% - 32px);
                margin: 8px 16px 0 16px;
            }

            :global {
                .isf-radio-button-wrapper {
                    color: var(--font-color-strong) !important;
                    background-color: #f5f5f5 !important;
                    border-color: #f5f5f5 !important;
                }
    
                .isf-radio-button-wrapper-checked {
                    background-color: var(--background-light) !important;
                }
    
                .isf-radio-button-wrapper-checked::before {
                    background-color: #f5f5f5 !important ;
                }
    
                .isf-radio-button-wrapper-checked {
                    border-radius: var(--border-radius-small);
                    background: #fff;
                    box-shadow: 0px 1px 4px 0px #00000019 !important;
                    height: 32px;
                    line-height: 32px;
                }
    
                .isf-radio-button-wrapper:not(:first-child)::before {
                    background-color: transparent !important;
                }
    
                .isf-radio-group {
                    border-radius: var(--border-radius-regular);
                    background: #f5f5f5;
                    padding: 2px;
                }
            }
        }

        .content {
            overflow-y: auto;
            padding: 0 16px;

            .loading {
                text-align: center;
                height: 100px;
                line-height: 100px;
            }

            .item {
                height: 36px;
                line-height: 36px;
                padding: 0 8px;
                border-radius: var(--border-radius-regular);
                cursor: pointer;
                margin-bottom: 2px;
                display: flex;
                justify-content: space-between;

                .info {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    flex-direction: row;

                    .name {
                        word-break: break-all;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        flex-shrink: 1;
                    }
                    
                    .inner {
                        width: auto;
                        height: 18px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-shrink: 0;
                        margin-left: 8px;
                        padding: 0 4px;
                        border-radius: var(--border-radius-small);
                        font-size: var(--font-size-small);
                    }
                }

                .icon {
                    margin-left: 8px;
                }
            }

            :global {
                .isf-empty-image {
                    margin-top: 16px;
                }
            }
        }

        .add-role-btn {
            bottom: 30px;
            position: absolute;
            text-align: center;
            width: 100%;

            .btn {
                width: calc(100% - 32px);
            }
        }
    }

    .right {
        position: relative;
        width: calc(100% - 240px);
        height: 100%;
        padding: 24px 24px 0 24px;

        .header {

            .title {

                .introduction {
                    margin-bottom: 4px;

                    .name {
                        color: var(--font-color-regular);
                        font-weight: bold;
                        line-height: 22px;
                        margin-right: 16px;
                        
                    }

                    .details {
                        line-height: 22px;                    
                    }
                }

                .description {
                    color: var(--font-color-description);
                    line-height: 22px;
                    margin-bottom: 16px;
                    overflow: hidden;
                    word-break: break-all;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
        }
    }
}