@import '../../core/styles/root.css';

.flex {
    display: flex;
    width: 100%;
    height: 100%;

    & .flex-arrow {
        position: relative;
        width: 38px;
        height: 30px;
        top: 50%;
    }

    & .flex-item {
        flex: 1;
    }
}

.tree-container {
    position: relative;
    width: 100%;
    height: 100%;

    & .describe-tip {
        line-height: 30px;
    }

    & .organization-tree {
        position: absolute;
        top: 35px;
        right: 0;
        bottom: 0;
        left: 0;
        border: 1px solid #ccc;
        overflow: hidden;
        text-align: left;

        & .search-box {
            padding: 6px 6px;
        }

        & .tree-main {
            position: absolute;
            top: 40px;
            right: 0;
            bottom: 0;
            left: 0;
            overflow: auto;
        }
    }
}

.select-container {
    position: relative;
    height: 100%;
    width: 100%;

    & .select-header {
        height: 30px;
    }

    & .select-content {
        position: absolute;
        top: 35px;
        right: 0;
        bottom: 0;
        left: 0;
        border: 1px solid #ccc;
        overflow-y: auto;
        overflow-x: hidden;
        text-align: left;

        & .dep-item {
            position: relative;
            height: 30px;
            line-height: 30px;

            & .seleted-data {
                height: 100%;
                cursor: default;

                & .selection {
                    display: flex;
                    justify-content: space-between;
                    margin: 0 6px;

                    & .selection-name {
                        padding-left: 4px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: pre;
                    }

                    & .delete-icon {
                        cursor: pointer;
                    }
                }
            }

            & .del-btn {
                width: 30px;
                position: absolute;
                right: 0;
                top: 0;
                text-align: center;
                cursor: pointer;
            }
        }
    }
}

.arrow-right {
    margin: 0 5px;
    color: rgb(0, 0, 0, 0.45);
    cursor: pointer;

    &:hover {
        color: var(--font-color-strong);
    }
}

.safari {
    &::before {
        content: '';
        display: block;
    }
}