@import '../../../core/styles/root.css';

.dropbox {
    position: relative;
    height: 30px;
    padding: 0 24px 0 8px;
    border: 1px solid var(--control-border-color);
    border-radius: var(--control-border-radius);
    background-color: var(--control-background-color);
    box-sizing: border-box;

    &:hover {
        border-color: var(--control-border-color__hover);
        cursor: pointer;
    }

    &.focus {
        border-color: var(--control-border-color__focus);
        box-shadow: var(--control-shadow__focus);
    }

    &.disabled {
        border-color: var(--control-border-color__disabled);
        background-color: var(--control-background-color__disabled);
        box-shadow: var(--control-shadow__disabled);
        color: var(--font-color-disabled);

        &:hover {
            cursor: default;
        }
    }

    & .layout {
        width: 100%;
        height: 30px;
        line-height: 30px;
        cursor: pointer;

        &.disabled {
            cursor: default;
        }
    }
}

.arrow-down {
    position: absolute;
    top: 7px;
    color: rgba(0, 0, 0, 0.45);

    &:hover {
        cursor: pointer;
    }

    &.disabled-icon {
        color: rgba(0, 0, 0, 0.2);

        &:hover {
            cursor: default;
        }

    }
}