.container {
    display: flex;

    & .check-box {
        margin-right: 3px;
    }

    & .name {
        display: flex;
        flex: 1;
        min-height: 24px;
        padding: 0 4px;
        margin: 0px;
        line-height: 22px;
        background: transparent;
        border-radius: 2px;
        word-break: keep-all;
        white-space: nowrap;
        transition: all .3s;

        &:hover {
            color: #000;
            background-color: rgba(220, 234, 249, 0.65);
            cursor: pointer;
        }

        & .text-custom {
            margin-left: 5px;
        }
    }
}