.black-chunk {
    display: inline-block;
    padding: 8px 16px;
    margin-bottom: 16px;
    border-radius: 4px;
    font-size: 14px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
}

.light-chunk {
    display: inline-block;
    padding: 8px 16px;
    margin-bottom: 16px;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%), 0 9px 28px 8px rgb(0 0 0 / 5%);
}

.icon {
    margin-right: 8px;
}

.toast-in {
    animation: toast-in .2s cubic-bezier(0, 0, .2, 1) 0ms;
}

.toast-out {
    animation: toast-out .2s cubic-bezier(0, 0, .2, 1) 0ms;
}

@keyframes toast-in {
    0% {
        margin-top: -10px;
        opacity: 0;
    }

    100% {
        margin-top: 0;
        opacity: 0.7;
    }
}

@keyframes toast-out {
    0% {
        margin-top: 0;
        opacity: 0.7;
    }

    100% {
        margin-top: -10px;
        opacity: 0;
    }
}