@import "../../core/styles/root.css";
.product-license {
    .title {
        color: var(--font-color-regular);
        margin-bottom: 8px;
    }

    .content {
        min-height: 60px;

        .product-name {
            display: block;
            max-width: 120px;
            color: var(--font-color-regular);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            word-break: break-all;
        }
    }

    .batch-tip {
        margin-top: 8px;
        color: var(--font-color-description);
    }
}

.user-list-tip {
    max-height: 120px;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #efefef;
    border-radius: 6px;

    .item {
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-all;
        white-space: nowrap;
    }
}