.base-button {
    padding: 0;
    border: none;
    background: transparent;
    font-size: 13px;
    outline: none;
    cursor: pointer;

    &[disabled] {
        opacity: 0.5;
        filter: alpha(opacity=50);
        cursor: default;
    }
}
