apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-secret
  namespace: {{ .Values.namespace }}
stringData:
  dbrw.yaml: |
    db_type: {{ .Values.depServices.rds.type | quote }}
    db_host: {{ .Values.depServices.rds.host | quote }}
    db_port: {{ .Values.depServices.rds.port }}
    db_host_read: {{ .Values.depServices.rds.hostRead | quote }}
    db_port_read: {{ .Values.depServices.rds.portRead }}
    user_name: {{ .Values.depServices.rds.user | quote }}
    user_pwd: {{ .Values.depServices.rds.password | quote }}
    db_name: {{ .Values.depServices.rds.database | quote }}
    db_charset: {{ .Values.depServices.rds.dbCharset | quote }}
    timeout: {{ .Values.depServices.rds.timeout }}
    read_timeout: {{ .Values.depServices.rds.readTimeout }}
    write_timeout: {{ .Values.depServices.rds.writeTimeout }}
    max_open_conns: {{ .Values.depServices.rds.maxConnections  }}
    max_open_read_conns: {{ .Values.depServices.rds.maxReadConnections }}
  redis.yaml: |
    connect_type: {{ .Values.depServices.redis.connectType | quote }}
    password: {{ .Values.depServices.redis.connectInfo.password | quote }}
    username: {{ .Values.depServices.redis.connectInfo.username | quote }}

    # standalone / cluster 单机/集群模式
    host: {{ .Values.depServices.redis.connectInfo.host | quote }}
    port: {{ .Values.depServices.redis.connectInfo.port | quote }}

    # sentinel 模式配置
    master_group_name: {{ .Values.depServices.redis.connectInfo.masterGroupName | quote }}
    sentinel_host: {{ .Values.depServices.redis.connectInfo.sentinelHost | quote }}
    sentinel_port: {{ .Values.depServices.redis.connectInfo.sentinelPort | quote }}
    sentinel_username: {{ .Values.depServices.redis.connectInfo.sentinelUsername | quote }}
    sentinel_password: {{ .Values.depServices.redis.connectInfo.sentinelPassword | quote }}

    # master-slave 主从模式
    master_host: {{ .Values.depServices.redis.connectInfo.masterHost | quote }}
    master_port: {{ .Values.depServices.redis.connectInfo.masterPort | quote }}
    slave_host: {{ .Values.depServices.redis.connectInfo.slaveHost | quote }}
    slave_port: {{ .Values.depServices.redis.connectInfo.slavePort | quote }}
  opensearch.yaml: |
    private_host: {{ .Values.depServices.opensearch.host | quote }}
    private_port: {{ .Values.depServices.opensearch.port }}
    private_protocol: {{ .Values.depServices.opensearch.protocol }}
    user: {{ .Values.depServices.opensearch.user | quote }}
    password: {{ .Values.depServices.opensearch.password | quote }}