{{- if .Values.serviceAccount.create -}}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ template "audit-log.serviceAccountName" . }}
  namespace: {{ .Values.namespace }}
  labels:
    app: {{ .Release.Name }}


---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ template "audit-log.serviceAccountName" . }}
  namespace: {{ .Values.namespace }}
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - get
  - list
  - watch

---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ template "audit-log.serviceAccountName" . }}
  namespace: {{ .Values.namespace }}
subjects:
- kind: ServiceAccount
  name: {{ template "audit-log.serviceAccountName" . }}
  namespace: {{ .Values.namespace }}
roleRef:
  kind: Role
  name: {{ template "audit-log.serviceAccountName" . }}
  apiGroup: rbac.authorization.k8s.io
{{- end -}}