.user-wrp {
    min-width: 478px;
    height: 100%;
    display: flex;
    box-sizing: border-box;

    .tree-wrp {
        min-width: 240px;
        margin-right: 8px;

        .tree-cnt {
            margin-top: 8px;
            padding: 8px;
            height: 352px;
            box-sizing: border-box;
            border: 1px solid #efefef;

            .tree {
                margin-top: 8px;
                height: 297px;
                overflow: auto;
            }

            .mult-tree {
                margin-left: -4px;
            }
        }
    }

    .add {
        margin-right: 8px;
        padding-top: 200px;
        display: flex;
        justify-content: center;

        .btn {
            margin: 0 5px 0 1px;
            color: #757575;

            &:hover {
                color: #000;
            }
        }
    }

    .list {
        width: 230px;

        .clear {
            height: 24px;
            padding-top: 6px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .list-wrp {
            height: 352px;
            margin-top: 21px;
            padding: 8px 12px;
            padding-right: 0;
            box-sizing: border-box;
            border: 1px solid #efefef;

            & .selection {
                display: flex;
                justify-content: space-between;
                margin-bottom: 8px;

                & .selection-name {
                    padding-left: 4px;
                    max-width: 180px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: pre;
                }
            }

            .itms {
                height: 336px;
                padding-right: 10px;
                overflow: auto;
            }

            .dep-itms {
                height: 314px;
            }

            .cfg {
                display: flex;
                height: 22px;
                align-items: center;
            }
        }
    }
}

.show-padding {
    padding: 16px;
}

.text {
    border: 1px solid #e0e0e0;
    padding: 5px;
    font-size: 13px;
    background-color: #fff;
}

.disabled {
    color: #c0c0c0;
}