@import "../../../core/styles/root.css";

.role-authorization {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius-regular);
    border: 1px solid var(--color-border-secondary);

    .nav {
        position: relative;
        width: 200px;
        height: 100%;
        border-right: 1px solid var(--color-border-secondary);
        padding-top: 8px;

        .search {
            margin: 6px 16px;
            width: calc(100% - 32px);
        }

        .resource {
            position: absolute;
            width: 100%;
            height: calc(100% - 52px);
            overflow-y: scroll;

            .item {
                height: 36px;
                line-height: 36px;
                padding: 0 8px;
                margin: 0 8px 0 16px;
                border-radius: var(--border-radius-regular);
                cursor: pointer;
                margin-bottom: 2px;
                word-break: break-all;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .empty {
                margin-top: 20px;
            }
        }
    }

    .content {
        width: calc(100% - 200px);
        height: 100%;
        padding: 16px;

        .top {
            display: flex;
            height: 30px;
            align-items: baseline;
            border-bottom: 1px solid var(--color-border-secondary);
            justify-content: space-between;

            .all-text {
                font-weight: bold;
                color: var(--color-bg-spotlight);
                margin-right: 16px;
                flex-shrink: 0;
            }

            .all-resource-config {
                display: flex;
                align-items: center;
                flex: 1;
                color: var(--font-color-description);
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                word-break: break-all;

                .perm {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    word-break: break-all;
                }

                .policy-icon {
                    display: flex;
                    margin-left: 4px;
                    color: var(--color-blue);
                }
            }

            .set-text {
                flex: 1;
            }

            .operation {
                flex-shrink: 0;
            }

            .text {
                margin-left: 16px;
            }
        }

        .main {

            .header {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .sepcified-text {
                    font-weight: bold;
                    color: var(--color-bg-spotlight);
                    width: fit-content;
                }

                .header-right {
                    display: flex;
                    margin: 10px 0;

                    .btn {
                        margin-right: 8px;
                    }

                    .resource-search {
                        max-width: 208px;
                    }
                }

                .no-instance-tip {
                    color: var(--font-color-disabled);
                    margin-left: 16px;
                    height: 34px;
                    line-height: 34px;
                }
            }

            .table {
                .item {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .name {
                        color: var(--font-color-regular);
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        word-break: break-all;
                    }

                    .info {
                        display: flex;
                        align-items: center;
                        max-width: 300px;

                        .perm {
                            color: var(--font-color-description);
                            margin-left: 8px;
                            display: flex;
                            align-items: center;
                            flex: 1;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            word-break: break-all;

                            .perm-string {
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                word-break: break-all;
                            } 
                        }

                        .operation {
                            margin-left: 16px;
                            min-width: fit-content;

                            .btn {
                                margin-right: 8px;
                            }
                        }

                        .text {
                            margin-left: 8px;
                        }

                        .policy-icon {
                            display: flex;
                            margin-left: 4px;
                            color: var(--color-blue);
                        }
                    }
                }

                .empty {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                }
            }
        }
    }

    :global {
        .isf-table-wrapper .isf-table-thead >tr>th, .css-dev-only-do-not-override-hnodhd.isf-table-wrapper isf-table-thead >tr>td {
            background-color: var(--background-light);
        }

        .isf-table-wrapper .isf-table-column-title {
            font-size: var(--font-size-secondary);
        }

        .isf-table-thead >tr>th{
            color: var(--font-color-list) !important;
            font-weight: normal !important;
        }

        .isf-table {
            scrollbar-color: auto !important;
        }
    }
}