.container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 24px;

    & .field {
        line-height: 1;
    }


    & .add-wrap {
        width: 860px;
        height: 550px;
        border: dashed 1px #e0e0ee;
    }

    & .add-btn {
        height: 40px;
        line-height: 40px;
    }
}