@import '../../core/styles/root.css';

.menu {
    border: 1px solid #f5f5f5;
    border-radius: var(--control-border-radius);
    box-shadow: 0 2px 9px 1px rgba(0, 0, 0, 0.1);
    background-color: var(--control-background-color);
    overflow-y: auto;

    &.box-sizing-border-box {
        box-sizing: border-box;
    }
}