@import '../../core/styles/root.css';

.tree-box {
    height: 100%;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.tree-wrp {
    box-sizing: border-box;
    width: 100%;
    height: calc(100% - 32px);
    margin-top: 10px;
    overflow-y: auto;

    & .selected {
        background-color: #f0f2f7;
    }

    .list {
        display: inline-block;
        min-width: 100%;
    }

    .list-title {
        display: flex;
        height: 24px;
        padding: 0px 4px;
        margin: 4px 0px;
        box-sizing: border-box;
        color: var(--font-color-strong);
        align-items: center;

        &:nth-child(1) {
            margin-top: 0;
        }

        &:hover {
            background-color: rgba(220, 234, 249, 0.65);
            cursor: pointer;
        }

        .list-name {
            display: inline-block;
            margin-left: 4px;
            vertical-align: middle;
            white-space: nowrap;
        }
    }
}

.multi-tree-wrp {
    margin-top: 0;

    & .multi-list {
        display: flex;
        align-items: center;

        & .multi-checkbox {
            margin-right: 2px;
        }

        & .multi-line {
            flex: 1;
        }
    }
}