.root {
    position: relative;
    box-sizing: border-box;

    & .fixed-layout {
        position: absolute;
        left: 0;
        right: 0;
    }

    & .header-warraper {
        position: absolute;
        left: 0;
        right: 0;
        height: 36px;
        background: #f6f7fc;
        overflow: hidden;
    }

    & .header {
        position: relative;
        margin-bottom: -14px;
        overflow-x: scroll;
    }

    & .header:hover {
        :global(.sweetui-grid-resizer) {
            opacity: 1 !important;
        }
    }

    & .header::-webkit-scrollbar-thumb {
        background-color: transparent;
        border: none;
        box-shadow: none;
    }

    & .header::-webkit-scrollbar {
        min-width: inherit;
        background-color: transparent;
    }

    & .content-overflow {
        margin-right: 17px;
    }

    &.show-border {
        border: 1px solid #f4f4f4;
    }

    & .virtual-place {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        z-index: -1;
    }
}

.datatable {
    border-bottom: 1px solid #f4f4f4;
}

.row {
    height: 50px;
    border-top: 1px solid #f4f4f4;
    border-bottom: none;
    /* <table> 的 border-collapse: collapsed 会将 上一tr的 border-bottom 覆盖下一tr的 border-top */

    &.row-hovered {
        border-top: 1px solid #e8f2f7;
        border-bottom: 1px solid #e8f2f7;
        background: #f5f9ff;
    }

    &.row-selected {
        background: #e8f2f7;
        border-top: 1px solid #e8f2f7;

        &.row-hovered {
            border-top: 1px solid #b3c9ce;
            border-bottom: 1px solid #b3c9ce;
        }
    }

    & .cell {
        vertical-align: middle;
        margin: 0;

        & .multi-select-cell {
            position: relative;

            & .checkbox-area {
                position: absolute;
                top: 0;
                bottom: 0;

                & .checkbox {
                    position: absolute;
                    top: 50%;
                    margin-top: -12px;
                }
            }

            & .cell-content {
                margin-left: 20px;
                vertical-align: middle;
            }
        }
    }
}

.row-extra {
    border-top: 1px solid #f4f4f4;
    /* 修复展开二级列表后，鼠标悬浮和选中时，列表闪动 */
}

.draggable {
    cursor: move;
}

.expandable-select-cell {
    position: relative;

    & .indent {
        float: left;
        height: 1px;
    }

    & .expand-icon {
        float: left;
        width: 16px;
        height: 16px;
        padding-right: 5px;
        cursor: pointer;
    }
}